// Navbar
.navbar {
	border-bottom: 1px solid $color-grey;

	ul {
		margin: 0;
		padding: 0 15px;
		text-align: right;

		li {
			display: inline-block;
			margin-right: 15px;

			a {
				text-decoration: none;
				color: $color-grey;

				&:hover {
					color: $color-main;
				}
			}
		}
	}
}

.facemash {
	.left {
		background-color: $color-main;
	}
	.right {
		background-color: ligthen($color-main, 10%);
	}
}

// Images
.img-cat {
	cursor: pointer;
	height: 30vw;
	width: 30vw;
	border-radius: 50%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all ease .15s;

	&:hover {
		transform: scale(1.2);
	}
}
