// Navbar
.navbar {
	border-bottom: 1px solid $color-grey-light;

	ul {
		margin: 0;
		padding: 0 15px;
		text-align: right;

		li {
			display: inline-block;
			margin-right: 15px;
		}
	}
}

// Facemash page

.facemash {
	background-color: $color-grey-lighter;

	.title {
		text-align: center;
	}

	.img-cat {
		cursor: pointer;
		height: 30vw;
		width: 30vw;
		border-radius: 50%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		transition: all ease .15s;

		&:hover {
			transform: scale(1.2);
			box-shadow: 0px 20px 30px -10px rgba(153,153,153,0.5);
			border: 10px solid $color-secondary;
		}
	}
}

// Scoreboard

.scoreboard {
	background-color: $color-grey-lighter;

	.title {
		text-align: center;
	}

	.img-cat {
		display: inline-block;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
