.app {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 10vh 1fr 10vh;
}

header,
footer,
.scoreboard {
	grid-column: 1 / span 2;
}

.facemash {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 20% auto;
	grid-column: 1 / span 2;
	height: 70vh;

	.left,
	.right {
		display: flex;
		align-items: center;
	}

	.title { grid-column: 1 / span 2; }
	.left { grid-column: 1; justify-content: flex-end; }
	.right { grid-column: 2; justify-content: left; }


	@media all and (max-width: 700px) {
		.left,
		.right {
			grid-column: 1 / span 2;
			justify-content: center;
		}
	}
}

header,
footer {
	display: flex;
	align-items: center;
	justify-content: center;
}
